    @import url('https://fonts.googleapis.com');
     @import url('https://fonts.gstatic.com');

    @media screen and (max-width: 375px) {
  /* comes into effect for screens less than or equal to 375 pixels */
  #nf {
    width: 320px ;
     position: absolute;
       left: 5%;
       bottom:-10%;

}
    }  
    
    body{
    background-color: hsl(217, 54%, 11%);
     justify-content: center;
     align-items: center;
     color:hsl(215, 51%, 70%);
     font-family: 'Outfit', sans-serif;
     font-weight: 300;
     display:flex;
     min-height: 100vh;
    }
     /*gives the card shape*/
   

     /*hover change*/
    .content:hover{
      transform:scale(1.1);
    transition-duration: 1.5s;
    }

    .content{
       padding: 10px;
        font-size: 15px;
      text-align: left;
      background-color: hsl(216, 50%, 16%);
      width: 320px;
       border: 1px solid hsl(216, 50%, 16%);
       border-radius: 15px;
       /*gives the card or box shadow */
       box-shadow: -10px 10px 5px 16px hsl(217, 65%, 12%);
       transition-duration: 1s;
     }
     
    .content a {
      text-decoration: none;
      color: hsl(215, 51%, 70%);
       align-items:  left;
      }

       /*changes color of all links when hoverd over*/
      .content a:hover{
        color: hsl(178, 100%, 50%);
      }

       img{
         height: 300px;
         width: 300px;
         border-radius: 12px;
       }

       .stats{
          font-size: 18px;
       }

       /*responsible of the resizing of the image*/
       .stats img{
         height: 20px;
         width: 15px;
        
       }

       .end{
         font-size: 18px;
       }

        /*responsible of the resizing of the image*/
       .end img{
          height: 40px;
         width: 40px;
       }

    h3{
      font-size: 20px;
    }

     p{
      color: hsl(215, 51%, 70%);
      font-size: 18px;
    }
   